.search_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    align-items: center;

    input {
        padding: 10px;
        border: none;
        width: 160px;

        &:first-child {
            width: 200px;
        }
    }

    button {
        background-color: #0078ff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}